/W1/Appl-W1-Tugas3/build/
/W1/Appl-W1-Tugas6/build/
/W1/Tugas4W1/nbproject/private/
/W1/Tugas6W1/build/
/W1/Tugas6W1/nbproject/private/
/W1/Tugas3W1/build/
/W1/Tugas3W1/nbproject/private/
/W1/Tugas2W1/build/
/W1/Tugas2W1/nbproject/private/
/W1/Tugas1W1/build/
/W1/Tugas1W1/nbproject/private/
/W1/Tugas4W1/build/
/W1/test/nbproject/private/
/W1/test/build/
/W2/Tugas1W2/nbproject/private/
/W2/Tugas1W2/build/
/W2/Tugas2W2/nbproject/private/
/W2/Tugas2W2/build/
/W2/Tugas3W2/nbproject/private/